.header {
  background: #3B1F5C;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  width: 100vw;
  min-width: 1080px;
  height: 57.16px;
  left: 0px;
  top: 0px;
}

.container_logo {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: inherit;
  left: 8px;
  top: 8px;

  img {
    &:hover {
      transition: all 0.2s ease-out;
      opacity: 0.7;
    }
  }
}

.container_botoes {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-width: fit-content;
  position: static;

  > a {
    min-width: fit-content;
    padding: 8px;
  }
}

.menu_icon {
  position: absolute;
  color: #ffffff;
}
