.header {
  background: #3b1f5c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  height: 57.16px;
}

.container_logo {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  height: inherit;
}

.container_botoes {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-width: 160px;
  margin-top: 8px;
  position: static;
  color: #f5dd01;

  a {
    min-width: fit-content;
    padding: 8px;
    font-size: 24px;

    &:hover {
      transition: all 0.2s ease-out;
      opacity: 0.7;
    }
  }

  i {
    font-size: 17px;
  }
}
