.secao3 {
  h4 {
    margin: 50px 0px 0px 0px;
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.0025em;
  }
}

.container_principal {
  display: flex;
  min-height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/fundo-secao-3.png");
  background-repeat: no-repeat;
  background-position: center;
}

.container_secundario {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 12px 0px 12px;
  max-height: 230px;

  h6 {
    margin: 10px;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.0015em;
  }

  p {
    margin: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.005em;
    text-align: justify;
    color: #1c0f2c;
  }
}

.container_superior {
  @extend .container;
  max-width: 500px;
}

.container_inferior {
  @extend .container;
  max-width: 1000px;
}

.video {
  width: 650px;
  height: 400px;
}

@media screen and (max-width: 980px) {
  .secao3 {
    display: grid;
    justify-content: center;
    justify-items: center;
    
    h4 {
      margin: 50px 0px 0px 0px;
    }
  }

  .container_principal {
    display: flex;
    justify-content: flex-start;
    min-width: 394px;
  }

  .container_secundario {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
  }

  .container {
    height: fit-content;
    width: 90vw;
    min-width: 394px;
    margin-top: 12px;
  }

  .container_superior {
    max-width: none;
    max-height: none;
  }

  .container_inferior {
    min-height: 255px;
  }
  
  .video {
    max-width: 100%;
    height: 300px;
  }
}
