.secao1 {
  display: grid;
  place-content: center;
  align-content: flex-start;
  min-height: 750px;
  margin-top: -2px;
  margin-bottom: -240px;
  background: linear-gradient(
    180deg,
    #3b1f5c 28.57%,
    rgba(59, 31, 92, 0.5) 72.34%,
    rgba(59, 31, 92, 0) 100%
  );

  h4 {
    color: #f5dd01;
    font-weight: 500;
    font-size: 34px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.025em;
    margin-top: 60px;
  }
}

.container_principal {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 1024px;
}

.container_texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 394px;
  color: #ffffff;
  text-align: justify;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.015em;

  button {
    padding: 8px;
    margin-top: 10px;
    width: 100%;
    color: #3b1f5c;
    background: #f5dd01;
    font-style: normal;
    font-weight: 700;
    font-size: 13.5px;
    line-height: 15px;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
}

.video {
  width: 524px;
  margin-left: 48px;
}

@media screen and (max-width: 980px) {
  .secao1 {
    h4 {
      font-size: 29px;
      margin-top: 50px;
    }
  }

  .container_principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .container_texto {
    width: 90vw;
    min-width: 394px;
    font-size: 14px;
    margin-left: 0px;
  }

  .video {
    width: 90vw;
    min-width: 393px;
  }
}
