.secao3 {
  h4 {
    margin: 50px 0px 0px 0px;
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.0025em;
  }
}

.container_principal {
  display: flex;
  min-height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/fundo-secao-3.png");
  background-repeat: no-repeat;
  background-position: center;
}

.container_secundario {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 12px 0px 12px;
  height: 230px;

  h6 {
    margin: 10px;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.0015em;
  }

  p {
    margin: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.005em;
    text-align: justify;
    color: #1c0f2c;
  }
}

.video {
  width: 650px;
  height: 454px;
}

@media screen and (max-width: 960px) {
  .container_secundario {
    display: flex;
    flex-direction: column;
  }
  
  .video {
    width: 404px;
    height: 305px;
  }
}
