.secao5 {
  display: grid;
  justify-content: center;
  h4 {
    margin: 18px 0px 0px;
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.0025em;
  }
}

.container_principal {
  display: flex;
  align-self: center;
  margin: 18px 0px 36px;

  .pergunta {
    margin: 12px 0px 0px;
    width: 980px;
    padding: 16px;
    border-radius: 4px;
    background-color: #5e38a515;
    transition: all 1s ease-in-out;
    a {
      margin: 16px 0px;
      font-weight: 600;
      font-size: 17px;
      line-height: 21px;
      letter-spacing: 0.0015em;
      color: #1c0f2c;

      &:hover {
        text-decoration: underline 2.5px;
        cursor: pointer;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }

  .esconder_resposta {
    display: none;
    position: relative;
    transition: display 2s ease-in-out;
  }

  .mostrar_resposta {
    display: flex;
  }

  p {
    margin: 16px 0px 0px;
  }
}
