.secao2 {
  h4 {
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.0025em;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.imagem {
  width: 486px;
}

.texto {
  margin-left: 28px;
  width: 524px;
  text-align: justify;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.005em;
}

.frase {
  align-self: center;
  max-width: 478px;
  margin-top: 40px;
  text-align: center;

  p {
    margin: 0px;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    color: #1c0f2c;
  }
}

@media screen and (max-width: 980px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .texto {
    width: 90vw;
    min-width: 394px;
    margin-left: 0px;
  }

  .frase {
    max-width: 362px;
  }

  .imagem {
    width: 50vw;
    min-width: 350px;
    margin-right: 65px;
  }
}
