.secao2 {
  margin-top: -250px;
  h4 {
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.0025em;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.texto {
  margin-left: 28px;
  width: 524px;
  height: 398px;
  text-align: justify;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.005em;
}

.frase {
  align-self: center;
  width: 478px;
  margin-top: 51px;
  text-align: center;

  p {
    margin: 0px;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    color: #1c0f2c;
  }
}
