.secao5 {
  display: flex;
  flex-direction: column;
  h4 {
    margin: 18px 0px 0px;
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.0025em;
  }
}

.container_principal {
  align-self: center;
  margin: 18px 0px 36px;

  .container_secundario {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 90vw;
    min-width: 394px;

    .pergunta {
      margin: 12px 0px 0px;

      padding: 16px;
      border-radius: 4px;
      background-color: #5e38a515;
      a {
        margin: 16px 0px;
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: 0.0015em;
        color: #1c0f2c;

        &:hover {
          text-decoration: underline 2.5px;
          cursor: pointer;
        }

        &:active {
          opacity: 0.6;
        }
      }
    }
  }

  .esconder_resposta {
    display: none;
    position: relative;
  }

  .mostrar_resposta {
    display: flex;
  }

  p {
    margin: 16px 0px 0px;
  }
}
